<template>
    <div class="alert" :class="'alert-' + type">
        <h2>{{text}}</h2>

        <hr>
        <button class="btn btn-success" @click="$emit('onNext')">Continue</button>
    </div>
</template>

<script>
    export default {
        props: ['type', 'text']
    }
</script>

<style scoped>
    .outline {
        outline: 1px solid #000;
    }

    h3 {
        font-size: 40px;
    }

    .btn {
        margin-right: 20px;
    }
</style>