<template>
    <div class="alert alert-info">
        <h1 class="text-uppercase text-center">Result</h1>

        <h2>Success: {{ stats.success }}</h2>
        <h2>Error: {{ stats.error }}</h2>

        <button class="btn btn-success" @click="$emit('repeat')">Repeat</button>
        <button class="btn btn-success" @click="$emit('nextLevel')">NextLevel</button>
    </div>
</template>

<script>
    export default {
        props: ['stats']
    }
</script>

<style scoped>

</style>