<template>
    <div class="text-center">
        <h1 class="text-uppercase text-center">Are you ready</h1>
        <button class="btn btn-primary" @click="$emit('onStart')">Start</button>
    </div>
</template>

<script>
    export default {
        methods: {
            some() {
                alert(1);
            }
        }
    }
</script>

<style scoped>

</style>