<template>
    <div class="training text-uppercase">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Math training</h1>
                    <h4>LEVEL <span class="state-level">{{ level + 1 }}</span></h4>
                    <hr>
                    <div class="progress mb-4">
                        <div class="progress-bar" :style="progressStyle"></div>
                    </div>
                    <div class="box">
                        <transition name="flip" mode="out-in">
                            <app-start-screen
                                    v-if="state == 'start'"
                                    @onStart="onStart"
                            >
                            </app-start-screen>

                            <app-question v-else-if="state == 'question'"
                                          @success="onQuestSuccess"
                                          @error="onQuestError"
                                          :settings="levels[level]"
                            >
                            </app-question>

                            <app-notification v-else-if="state == 'notification'"
                                              :type="notification.type"
                                              :text="notification.text"
                                              @onNext="onNext"
                            >
                            </app-notification>

                            <app-result-screen v-else-if="state == 'result'"
                                               :stats="stats"
                                               @repeat="onStart"
                                               @nextLevel="nextLevel"
                            >
                            </app-result-screen>
                            <div v-else>Unknown state</div>
                        </transition>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                state: 'start',
                notification: {
                    type: '',
                    text: ''
                },

                stats: {
                    success: 0,
                    error: 0
                },

                questionMax: 3,

                level: 0,

                levels: [
                    {
                        from: 40,
                        to: 50,
                        range: 5,
                        variant: 2,
                    },

                    {
                        from: 100,
                        to: 150,
                        range: 20,
                        variant: 4,
                    },

                    {
                        from: 100,
                        to: 200,
                        range: 40,
                        variant: 6,
                    }
                ]
            }
        },

        computed: {
            questDone() {
                return this.stats.success +  this.stats.error;
            },

            progressStyle() {
                return {
                    width: (this.questDone / this.questionMax) * 100 + '%'
                }
            }
        },

        methods: {
            onStart() {
                this.state = 'question';
                this.stats.success = 0;
                this.stats.error = 0;
            },
            onQuestSuccess() {
                this.state = 'notification';
                this.notification.text = 'Good Job';
                this.notification.type = 'success';
                this.stats.success++;
            },
            onQuestError(msg) {
                this.state = 'notification';
                this.notification.text = msg;
                this.notification.type = 'danger';
                this.stats.error++;
            },

            onNext() {
                if (this.questDone < this.questionMax) {
                    this.state = 'question';
                } else {
                    this.state = 'result';
                }
            },

            nextLevel() {
                this.level++;
                this.onStart();
            }
        }
    }
</script>

<style scoped>
    .state-level {
        font-size: 2rem;
        font-weight: bold;
        color: #f00;
    }

    .flip-enter {

    }

    .progress {
        transition: .2s;
    }

    .flip-enter-active {
        animation: flipInX 0.3s linear;
    }

    .flip-leave {

    }

    .flip-leave-active {
        animation: flipOutX 0.3s linear;
    }


    @keyframes flipInX {
        from {transform: rotateX(90deg)}
        to {transform: rotateX(0deg)}
    }

    @keyframes flipOutX {
        from {transform: rotateX(0deg)}
        to {transform: rotateX(90deg)}
    }
</style>
